# Ambientes, configs e credenciais
.bundle
.env
.env.*
.env.local
.env.development
.env.test

# Logs, temporários e cache
log/
tmp/
storage/
public/system/
public/packs/
public/assets/

# Dependências Ruby (serão instaladas no container)
vendor/bundle/
vendor/rails

# Node.js / JS
yarn_cache/
node_modules/
package-lock.json
npm-debug.log*

# Arquivos de editor, OS e auxiliares
*.swp
*~
.DS_Store
*.iml
.idea/
.vscode/
*.log

# Testes e análise
spec/
test/
features/
coverage/
rspec_junit_formatter/
simplecov/
.profiledata

# Bancos de dados locais
*.sqlite3

# CI/CD configs
.circleci/
.github/
.travis.yml
.gitlab-ci.yml

# Rails e debug
.byebug_history
.rails
.rake_tasks
.rails_best_practices_todo.yml

# Versionamento extra e contratos
.pact/
.version

# Outros
.git
.cache
.coverage.data
.yardopts
.rubocop_todo.yml
.rubocop.yml
.reek
