.dockerignore

# Ignorar Git
.git
.gitignore
.gitmodules

# Ambiente e configurações sensíveis
.env
.env.*
.env.local
.env.development
.env.test
.bundle
.babelrc
.eslintcache
*.key
*.pem

# Logs e temporários
log/
tmp/
storage/
public/system/
coverage/
doc/
.yardoc
*.log
*.swp
*~
.DS_Store
*.iml
.idea/
.vscode/
.svn/

# Node.js / Yarn
node_modules/
yarn_cache/
package-lock.json
npm-debug.log*
yarn-error.log*
yarn.lock # opcional, já que queremos enviar ele pro container

# Testes
spec/
test/
__tests__/
features/
cypress/
jest.config.js
vitest.config.js

# Editor configs antigos
.tern-project
.flowconfig
.jscsrc
.eslintrc
.prettierrc
.rspec
.rubocop.yml
.editorconfig

# Versões e histórico
.pact/
.version
CHANGELOG.md
README.md
CONTRIBUTING.md

# Configs de IDEs e sistemas
/.vscode/*
/.idea/*
/.replit
/.ruby-version
/.rvmrc
/.nvmrc
/.npmrc

# Arquivos de sistema
Thumbs.db
desktop.ini
*.iml
*.iws
*.sublime-project
*.sublime-workspace
*.mkv
*.avi
*.mp4
*.mov
*.flac
*.mp3

# Cache e artefatos
vendor/cache/
vendor/bundle/
vendor/rails/
vendor/yarn_cache/
public/packs/
public/assets/
storage/
tmp/
